<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--product-info-->
<div class="product-info">

    <div class="fr itemInfo-wrap">
        <div class="sku-name">
            <h4 th:text="${commodity.commodityName}"></h4>
        </div>

        <div class="summary">
            <div class="summary-wrap">

                <div class="fl title">
                    <i>价　　格</i>
                </div>
                <div class="fl price">
                    <i>¥</i>
                    <em th:text="'￥'+${activity.onsalePrice}"></em>
                    <span>降价通知</span>
                </div>

            </div>
        </div>
        <div class="clearfix choose">

            <div class="summary-wrap">
                <div class="fl title">
                    <div class="control-group">
                        <div class="controls">
                            <input autocomplete="off" type="text" value="1" minnum="1" class="itxt"/>
                            <a href="javascript:void(0)" class="increment plus">+</a>
                            <a href="javascript:void(0)" class="increment mins">-</a>
                        </div>
                    </div>
                </div>
                <div class="fl">
                    <ul class="btn-choose unstyled">
                        <li>
                            <a th:href="'/onsale/buy/1234/' + ${activity.id}" target="_blank"
                               class="addshopcar">Buy Now</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>