<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order Summary</title>
</head>
<body>
    <div class="sendGoods">
        <span>Order Number：</span><em th:text="${order.orderNo}"></em>
    </div>
    <div class="sendGoods">
        <span>Order status：</span>
        <em th:switch="${order.orderStatus}">
            <span th:case="0">Out of stock</span>
            <span th:case="1">Created, waiting for payment.</span>
            <span th:case="2">Paid, to be shipped</span>
            <span th:case="99">Order closed. Payment overdue.</span>
        </em>
    </div>
    <div class="sendGoods">
        <span>Onsale activity name：</span><em th:text="${activity.name}"></em>
    </div>
    <div class="sendGoods">
        <span>Order created time：</span><em th:text="${#dates.format(order.createTime,'yyyy-MM-dd HH:mm:ss')}"></em>
    </div>

    <div class="clearfix trade">
        <div class="fc-price">Order price:　<span class="price"></span></div>
        <em th:text="'￥'+${order.orderAmount}"></em>
    </div>

    <em th:switch="${order.orderStatus}">
                <span th:case="1">
                    <div class="submit">
                        <a class="sui-btn btn-danger btn-xlarge"
                           th:href="@{'/payOrder/' + ${order.orderNo}}">Pay amount:</a>
                    </div>
                </span>
    </em>
</body>
</html>